@media screen and (max-width: 1200px) {
    main {
        max-width: 900px;
    }

}

@media screen and (max-width: 800px) {
    main {
        max-width: 700px;
    }


    #accueil h1 {
        font-size: 50px;
    }

    article {
        align-items: center;
        flex-direction: column;
        padding: 0 13%;
    }

    .galleri div p a {
        margin-top: 20px;
    }
}

@media screen and (max-width: 425px) {
    header {
        display: flex;
        justify-content: space-around;
    }
    
    main {
        max-width: 300px;
        justify-content: center;
    }

    #accueil h1 {
        font-size: 60px;
    }

    #accueil p {
        font-size: 20px;
    }
    
    .wrapper {
        flex-direction: column;
    }

    .wrapper .dynamic-text {
        line-height: 34.5px;
    }
    
    #accueil li {
        margin: 0;
        font-size: 20px;
    }


    h3 {
        font-size: 30px;
        margin-bottom: 30px;
    }

    h4 {
        font-size: 15px;
        margin-bottom: 15px;
    }

    article {
        align-items: unset;
        flex-direction: column;
    }

    .galleri img {
        border: 3px solid black;
        border-radius: 10px;
        height: 150px;
        width: 240px;
        object-fit: cover;
    }

    .galleri div a {
        margin-top: 10px;
    }
}